<div class="form-container mt-3">
  <h2 class="form-heading">Student's Form</h2>
</div>
<form [formGroup]="postStudentForm">
  <label for="firstname">First Name: </label>
  <input type="text" id="firstname" name="firstname" placeholder="Enter your First Name" required formControlName="firstname">
  <label for="lastName">Last Name: </label>
  <input type="text" id="lastName" name="lastName" placeholder="Enter your Last Name" required formControlName="lastName">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" placeholder="Enter your email" required formControlName="email">
  <button type="submit" class="btn btn-primary mt-3 " (click)="postStudent()" > Submit</button>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


